@media screen and (min-width: 768px) {
  .costum-navbar {
    padding: 5px 0 !important;
    background-color: #ffffff !important;
    position: fixed;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px !important;
  }
}
@media screen and (max-width: 768px) {
  .animate__fadeInDown {
    ul.menu-phone {
      background: rgb(86, 85, 85);
    }
  }
}
